@charset "UTF-8";

html{
	font-size:100%;
}
body{
	margin:0;/*기본적으로 살짝 붕떠있어서 마진을 없애주었다*/
	width:98vw;/* height와 같이 기본적으로 내용에따라 크기가변하기때문에 그냥 처음부터 고정시켜주었다.  */
	height:48vw;
}
a:link{color:black; text-decoration:none;}
a:visited{color:black; text-decoration:none;}
a:hover{color:black; text-decoration:underline;}

#messageListPage{
	padding:0.1%;
	width:90%;
	height:auto;
	margin:0 auto 5vw auto;
}
	/*맨위 로고,마이페이지,환영문구,쪽지함 유틸부분*/
#myUtility{
	width: 100%;
    height: auto;
    text-align: right;
    margin: 0.4vw 0 0.2vw 0;
    font-size: 0.8rem;
}
#myUtility #logo{
	float:left;
	border:none;
}
#myUtility span{
	border-right:1px solid black;	
	padding:0 2vw;
}
#myUtility a{
	border-right:1px solid black;	
	padding:0 2vw;
}
#myUtility form{
	display:inline-block;
	padding:0 2vw;
}
#myUtility form input{
	padding: 0.2vw 0.7vw;
    background-color: #FF8518;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

	/*맨위 유틸바 아래 upperContent?부분*/
#upperContent{
	width:100%;
	height:10vw;
	margin:0.5vw 0 1vw 0;
	background-image:url('http://localhost/orangeBackground.jpg');
	background-size:cover;
}	
	
/*왼쪽 쪽지함 리스트 부분*/
#messageList{
	width: 25vw;
    float: left;
    height: 35vw;
    margin: 1vw;
    padding: 1vw;
    border: 0.5px solid #D5D5D5;
    border-radius: 7px;
}
#messageList > p{
	margin: 0.5vw 0;
    padding: 0.3vw 0;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 0.5px solid #D5D5D5;
}
#messageList #messageListTable{
	overflow-y: scroll;
    width: 100%;
    height: 30vw;
}
#messageList #messageListTable td{
	width: 23vw;
    border-bottom: 0.5px solid #D5D5D5;
}
#messageList #messageListTable td.currentMessageBox{
	background-color:#FF8518;
	color:white;
}
#messageList #messageListTable td.currentMessageBox span{
	color:white !important;
}
#messageList #messageListTable td span.partnerId{
	width: 10vw;
    display: inline-block;
    font-size: 1rem;
}
#messageList #messageListTable td span.time{
	display: inline-block;
    width: 10vw;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: right;
    float: right;
    color: #A6A6A6;
}
#messageList #messageListTable td span.content{
	display: inline-block;
    width: 22vw;
    padding: 0.5vw 0;
    font-weight: 300;
}

/*오른쪽 쪽지함 내용부분*/
#message{
	position:relative;
	width: 55vw;
    float: left;
    height: 35vw;
    margin: 1vw;
    padding: 1vw;
    border: 0.5px solid #D5D5D5;
    border-radius: 7px;
}
#message > p{
	margin: 0.5vw 0;
    padding: 0.3vw 0;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 0.5px solid #D5D5D5;
}
#message #messageTable{
	overflow-y: scroll;
    width: 100%;
    height: 25vw;
}
#message #messageTable > div{
	display:none;
	height: 25vw;
    width: 54vw;	
}
#message #messageTable > div:nth-child(1){display:block;}

#message #messageTable td{
	width: 52vw;
	padding:0.2vw 0;
}
#message #messageTable td.myMessage div{
	float:right;
	background-color:#FFF612;
	border:0.5px solid gray;
	box-shadow:1px 1px 3px gray;
}
#message #messageTable td.partnerMessage div{
	float:left;
	background-color:white;
	border:0.5px solid gray;
	box-shadow:1px 1px 3px gray;
}
#message #messageTable td div{
	width:32vw;
	border: 0.8px solid gray;
    padding: 0.5vw;
    border-radius: 7px;
}

#message #messageTable td div span.partnerId{
	display: inline-block;
    width: 10vw;
}
#message #messageTable td div span.time{
	display: inline-block;
    width: 10vw;
    font-size: 0.8rem;
    float: right;
    font-weight: 300;
    color: #A6A6A6;
}
#message #messageTable td div span.content{
	display: inline-block;
    width: 31vw;
    padding: 0.5vw 0;
    font-weight: 300;
    font-size:0.8rem;
}

#message #messageTable .sendMessage{
	position:absolute;
	bottom:1vw;
	height: 5.5vw;
    width: 54vw;
    margin: 0 auto;
}
#message #messageTable form{
	height: 5.5vw;
    width: 54vw;
}
#message #messageTable textarea{
	width: 46vw;
    height: 5vw;
    margin: auto 0;
}
#message #messageTable input[type="submit"]{
	float:right;
    width: 6vw;
    height: 5.5vw;
    margin: 0 0.5vw;
    
	background-color:#FF8518;
	color:white;
	border:none;
	border-radius:5px;
}






